:root {
    // Colors
    --white-color: #fff;
    --dark-color: #1d252e;
    --blue-color: #0084CA;
    --blue-color-hovered: #016DA6;
    --gray-color: #7E7E7E;
    --gold-color: #CD9933;

    // Sizes
    --container: 1340px;

    --size-s: 10px;

    --icon-size: 24px;

    // Shadows
    --shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
